#HTML_57 {
    block-size: 4265px;
    font-stretch: 75%;
    height: 4265px;
    inline-size: 640px;
    perspective-origin: 320px 2132.5px;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    transform-origin: 320px 2132.5px;
    view-transition-name: root;
    width: 640px;
    zoom: 2;
    font: condensed 16px Times;
}

/*#HTML_57*/

#HEAD_1,
#META_2,
#META_4,
#TITLE_6,
#META_8,
#LINK_10,
#META_12,
#LINK_14,
#META_16,
#META_18,
#META_20,
#META_22,
#LINK_24,
#META_26,
#SCRIPT_28,
#SCRIPT_30,
#LINK_32,
#LINK_34,
#SCRIPT_36,
#SCRIPT_38,
#SCRIPT_40,
#SCRIPT_42,
#SCRIPT_44,
#SCRIPT_46,
#STYLE_48,
#META_50,
#META_52,
#SCRIPT_54,
#SCRIPT_56 {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#HEAD_1, #META_2, #META_4, #TITLE_6, #META_8, #LINK_10, #META_12, #LINK_14, #META_16, #META_18, #META_20, #META_22, #LINK_24, #META_26, #SCRIPT_28, #SCRIPT_30, #LINK_32, #LINK_34, #SCRIPT_36, #SCRIPT_38, #SCRIPT_40, #SCRIPT_42, #SCRIPT_44, #SCRIPT_46, #STYLE_48, #META_50, #META_52, #SCRIPT_54, #SCRIPT_56*/

#HEAD_1:after,
#META_2:after,
#META_4:after,
#TITLE_6:after,
#META_8:after,
#LINK_10:after,
#META_12:after,
#LINK_14:after,
#META_16:after,
#META_18:after,
#META_20:after,
#META_22:after,
#LINK_24:after,
#META_26:after,
#SCRIPT_28:after,
#SCRIPT_30:after,
#LINK_32:after,
#LINK_34:after,
#SCRIPT_36:after,
#SCRIPT_38:after,
#SCRIPT_40:after,
#SCRIPT_42:after,
#SCRIPT_44:after,
#SCRIPT_46:after,
#STYLE_48:after,
#META_50:after,
#META_52:after,
#SCRIPT_54:after,
#SCRIPT_56:after {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#HEAD_1:after, #META_2:after, #META_4:after, #TITLE_6:after, #META_8:after, #LINK_10:after, #META_12:after, #LINK_14:after, #META_16:after, #META_18:after, #META_20:after, #META_22:after, #LINK_24:after, #META_26:after, #SCRIPT_28:after, #SCRIPT_30:after, #LINK_32:after, #LINK_34:after, #SCRIPT_36:after, #SCRIPT_38:after, #SCRIPT_40:after, #SCRIPT_42:after, #SCRIPT_44:after, #SCRIPT_46:after, #STYLE_48:after, #META_50:after, #META_52:after, #SCRIPT_54:after, #SCRIPT_56:after*/

#HEAD_1:before,
#META_2:before,
#META_4:before,
#TITLE_6:before,
#META_8:before,
#LINK_10:before,
#META_12:before,
#LINK_14:before,
#META_16:before,
#META_18:before,
#META_20:before,
#META_22:before,
#LINK_24:before,
#META_26:before,
#SCRIPT_28:before,
#SCRIPT_30:before,
#LINK_32:before,
#LINK_34:before,
#SCRIPT_36:before,
#SCRIPT_38:before,
#SCRIPT_40:before,
#SCRIPT_42:before,
#SCRIPT_44:before,
#SCRIPT_46:before,
#STYLE_48:before,
#META_50:before,
#META_52:before,
#SCRIPT_54:before,
#SCRIPT_56:before {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#HEAD_1:before, #META_2:before, #META_4:before, #TITLE_6:before, #META_8:before, #LINK_10:before, #META_12:before, #LINK_14:before, #META_16:before, #META_18:before, #META_20:before, #META_22:before, #LINK_24:before, #META_26:before, #SCRIPT_28:before, #SCRIPT_30:before, #LINK_32:before, #LINK_34:before, #SCRIPT_36:before, #SCRIPT_38:before, #SCRIPT_40:before, #SCRIPT_42:before, #SCRIPT_44:before, #SCRIPT_46:before, #STYLE_48:before, #META_50:before, #META_52:before, #SCRIPT_54:before, #SCRIPT_56:before*/

#META_3,
#META_5,
#META_9,
#META_13,
#META_17,
#META_21,
#META_25,
#SCRIPT_29,
#LINK_33,
#SCRIPT_37,
#SCRIPT_41,
#SCRIPT_45,
#META_49,
#META_53 {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_3, #META_5, #META_9, #META_13, #META_17, #META_21, #META_25, #SCRIPT_29, #LINK_33, #SCRIPT_37, #SCRIPT_41, #SCRIPT_45, #META_49, #META_53*/

#META_3:after,
#META_5:after,
#META_9:after,
#META_13:after,
#META_17:after,
#META_21:after,
#META_25:after,
#SCRIPT_29:after,
#LINK_33:after,
#SCRIPT_37:after,
#SCRIPT_41:after,
#SCRIPT_45:after,
#META_49:after,
#META_53:after {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_3:after, #META_5:after, #META_9:after, #META_13:after, #META_17:after, #META_21:after, #META_25:after, #SCRIPT_29:after, #LINK_33:after, #SCRIPT_37:after, #SCRIPT_41:after, #SCRIPT_45:after, #META_49:after, #META_53:after*/

#META_3:before,
#META_5:before,
#META_9:before,
#META_13:before,
#META_17:before,
#META_21:before,
#META_25:before,
#SCRIPT_29:before,
#LINK_33:before,
#SCRIPT_37:before,
#SCRIPT_41:before,
#SCRIPT_45:before,
#META_49:before,
#META_53:before {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_3:before, #META_5:before, #META_9:before, #META_13:before, #META_17:before, #META_21:before, #META_25:before, #SCRIPT_29:before, #LINK_33:before, #SCRIPT_37:before, #SCRIPT_41:before, #SCRIPT_45:before, #META_49:before, #META_53:before*/

#META_7,
#META_11,
#META_19,
#LINK_27,
#LINK_35,
#SCRIPT_43,
#META_51 {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_7, #META_11, #META_19, #LINK_27, #LINK_35, #SCRIPT_43, #META_51*/

#META_7:after,
#META_11:after,
#META_19:after,
#LINK_27:after,
#LINK_35:after,
#SCRIPT_43:after,
#META_51:after {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_7:after, #META_11:after, #META_19:after, #LINK_27:after, #LINK_35:after, #SCRIPT_43:after, #META_51:after*/

#META_7:before,
#META_11:before,
#META_19:before,
#LINK_27:before,
#LINK_35:before,
#SCRIPT_43:before,
#META_51:before {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_7:before, #META_11:before, #META_19:before, #LINK_27:before, #LINK_35:before, #SCRIPT_43:before, #META_51:before*/

#META_15,
#META_23,
#SCRIPT_39,
#STYLE_55 {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_15, #META_23, #SCRIPT_39, #STYLE_55*/

#META_15:after,
#META_23:after,
#SCRIPT_39:after,
#STYLE_55:after {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_15:after, #META_23:after, #SCRIPT_39:after, #STYLE_55:after*/

#META_15:before,
#META_23:before,
#SCRIPT_39:before,
#STYLE_55:before {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#META_15:before, #META_23:before, #SCRIPT_39:before, #STYLE_55:before*/

#SCRIPT_31,
#SCRIPT_47 {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#SCRIPT_31, #SCRIPT_47*/

#SCRIPT_31:after,
#SCRIPT_47:after {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#SCRIPT_31:after, #SCRIPT_47:after*/

#SCRIPT_31:before,
#SCRIPT_47:before {
    font-stretch: 75%;
    text-rendering: optimizelegibility;
    text-size-adjust: 100%;
    font: condensed 16px Times;
}

/*#SCRIPT_31:before, #SCRIPT_47:before*/

.discovery_playlist {
    width: 100%;
    cursor: pointer;
    border-radius: 4px;
    width: 288px;
    height: 112px;
    margin-top: 35px;
    background-image: url(../images/discovery/bg_wap.png);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}

/* .data-fbcssmodules="css:fb.css.base css:fb.css.dialog css:fb.css.iframewidget css:fb.css.customer_chat_plugin_iframe">.fb_hidden { */
    { position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div {
    overflow: hidden
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate {
    animation: fb_transform .3s forwards
}

.fb_hidden {
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_reposition {
    overflow: hidden;
    position: relative
}

.fb_invisible {
    display: none
}

.fb_reset {
    background: none;
    border: 0;
    border-spacing: 0;
    color: #000;
    cursor: auto;
    direction: ltr;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    letter-spacing: normal;
    line-height: 1;
    margin: 0;
    overflow: visible;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    text-shadow: none;
    text-transform: none;
    visibility: visible;
    white-space: normal;
    word-spacing: normal
}

.fb_reset>div {
    overflow: hidden
}

@keyframes fb_transform {
    from {
        opacity: 0;
        transform: scale(.95)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.fb_animate {
    animation: fb_transform .3s forwards
}

.fb_dialog {
    background: rgba(82, 82, 82, .7);
    position: absolute;
    top: -10000px;
    z-index: 10001
}

.fb_dialog_advanced {
    border-radius: 8px;
    padding: 10px
}

.fb_dialog_content {
    background: #fff;
    color: #373737
}

.fb_dialog_close_icon {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    right: 18px;
    top: 17px;
    width: 15px
}

.fb_dialog_mobile .fb_dialog_close_icon {
    left: 5px;
    right: auto;
    top: 5px
}

.fb_dialog_padding {
    background-color: transparent;
    position: absolute;
    width: 1px;
    z-index: -1
}

.fb_dialog_close_icon:hover {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent
}

.fb_dialog_close_icon:active {
    background: url(https://connect.facebook.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent
}

.fb_dialog_iframe {
    line-height: 0
}

.fb_dialog_content .dialog_title {
    background: #6d84b4;
    border: 1px solid #365899;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 0
}

.fb_dialog_content .dialog_title>span {
    background: url(https://connect.facebook.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;
    float: left;
    padding: 5px 0 7px 26px
}

body.fb_hidden {
    height: 100%;
    left: 0;
    margin: 0;
    overflow: visible;
    position: absolute;
    top: -10000px;
    transform: none;
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading {
    background: url(https://connect.facebook.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 10001
}

.fb_dialog.fb_dialog_mobile.loading.centered {
    background: none;
    height: auto;
    min-height: initial;
    min-width: initial;
    width: auto
}

.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner {
    width: 100%
}

.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content {
    background: none
}

.loading.centered #fb_dialog_loader_close {
    clear: both;
    color: #fff;
    display: block;
    font-size: 18px;
    padding-top: 20px
}

#fb-root #fb_dialog_ipad_overlay {
    background: rgba(0, 0, 0, .4);
    bottom: 0;
    left: 0;
    min-height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 10000
}

#fb-root #fb_dialog_ipad_overlay.hidden {
    display: none
}

.fb_dialog.fb_dialog_mobile.loading iframe {
    visibility: hidden
}

.fb_dialog_mobile .fb_dialog_iframe {
    position: sticky;
    top: 0
}

.fb_dialog_content .dialog_header {
    background: linear-gradient(from(#738aba), to(#2c4987));
    border-bottom: 1px solid;
    border-color: #043b87;
    box-shadow: white 0 1px 1px -1px inset;
    color: #fff;
    font: bold 14px Helvetica, sans-serif;
    text-overflow: ellipsis;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0;
    vertical-align: middle;
    white-space: nowrap
}

.fb_dialog_content .dialog_header table {
    height: 43px;
    width: 100%
}

.fb_dialog_content .dialog_header td.header_left {
    font-size: 12px;
    padding-left: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .dialog_header td.header_right {
    font-size: 12px;
    padding-right: 5px;
    vertical-align: middle;
    width: 60px
}

.fb_dialog_content .touchable_button {
    background: linear-gradient(from(#4267B2), to(#2a4887));
    background-clip: padding-box;
    border: 1px solid #29487d;
    border-radius: 3px;
    display: inline-block;
    line-height: 18px;
    margin-top: 3px;
    max-width: 85px;
    padding: 4px 12px;
    position: relative
}

.fb_dialog_content .dialog_header .touchable_button input {
    background: none;
    border: none;
    color: #fff;
    font: bold 12px Helvetica, sans-serif;
    margin: 2px -12px;
    padding: 2px 6px 3px 6px;
    text-shadow: rgba(0, 30, 84, .296875) 0 -1px 0
}

.fb_dialog_content .dialog_header .header_center {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
    text-align: center;
    vertical-align: middle
}

.fb_dialog_content .dialog_content {
    background: url(https://connect.facebook.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;
    border: 1px solid #4a4a4a;
    border-bottom: 0;
    border-top: 0;
    height: 150px
}

.fb_dialog_content .dialog_footer {
    background: #f5f6f7;
    border: 1px solid #4a4a4a;
    border-top-color: #ccc;
    height: 40px
}

#fb_dialog_loader_close {
    float: left
}

.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon {
    visibility: hidden
}

#fb_dialog_loader_spinner {
    animation: rotateSpinner 1.2s linear infinite;
    background-color: transparent;
    background-image: url(https://connect.facebook.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    height: 24px;
    width: 24px
}

@keyframes rotateSpinner {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.fb_iframe_widget {
    display: inline-block;
    position: relative
}

.fb_iframe_widget span {
    display: inline-block;
    position: relative;
    text-align: justify
}

.fb_iframe_widget iframe {
    position: absolute
}

.fb_iframe_widget_fluid_desktop,
.fb_iframe_widget_fluid_desktop span,
.fb_iframe_widget_fluid_desktop iframe {
    max-width: 100%
}

.fb_iframe_widget_fluid_desktop iframe {
    min-width: 220px;
    position: relative
}

.fb_iframe_widget_lift {
    z-index: 1
}

.fb_iframe_widget_fluid {
    display: inline
}

.fb_iframe_widget_fluid span {
    width: 100%
}

.fb_mpn_mobile_landing_page_slide_out {
    animation-duration: 200ms;
    animation-name: fb_mpn_landing_page_slide_out;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_out_from_left {
    animation-duration: 200ms;
    animation-name: fb_mpn_landing_page_slide_out_from_left;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_landing_page_slide_up {
    animation-duration: 500ms;
    animation-name: fb_mpn_landing_page_slide_up;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_in {
    animation-duration: 300ms;
    animation-name: fb_mpn_bounce_in;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out {
    animation-duration: 300ms;
    animation-name: fb_mpn_bounce_out;
    transition-timing-function: ease-in
}

.fb_mpn_mobile_bounce_out_v2 {
    animation-duration: 300ms;
    animation-name: fb_mpn_fade_out;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_v2 {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_v2;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_in_from_left {
    animation-duration: 300ms;
    animation-name: fb_bounce_in_from_left;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_v2 {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_v2;
    transition-timing-function: ease-in
}

.fb_customer_chat_bounce_out_from_left {
    animation-duration: 300ms;
    animation-name: fb_bounce_out_from_left;
    transition-timing-function: ease-in
}

.fb_invisible_flow {
    display: inherit;
    height: 0;
    overflow-x: hidden;
    width: 0
}

@keyframes fb_mpn_landing_page_slide_out {
    0% {
        margin: 0 12px;
        width: 100% - 24px
    }

    60% {
        border-radius: 18px
    }

    100% {
        border-radius: 50%;
        margin: 0 24px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_out_from_left {
    0% {
        left: 12px;
        width: 100% - 24px
    }

    60% {
        border-radius: 18px
    }

    100% {
        border-radius: 50%;
        left: 12px;
        width: 60px
    }
}

@keyframes fb_mpn_landing_page_slide_up {
    0% {
        bottom: 0;
        opacity: 0
    }

    100% {
        bottom: 24px;
        opacity: 1
    }
}

@keyframes fb_mpn_bounce_in {
    0% {
        opacity: .5;
        top: 100%
    }

    100% {
        opacity: 1;
        top: 0
    }
}

@keyframes fb_mpn_fade_out {
    0% {
        bottom: 30px;
        opacity: 1
    }

    100% {
        bottom: 0;
        opacity: 0
    }
}

@keyframes fb_mpn_bounce_out {
    0% {
        opacity: 1;
        top: 0
    }

    100% {
        opacity: .5;
        top: 100%
    }
}

@keyframes fb_bounce_in_v2 {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }

    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom right
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_in_from_left {
    0% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }

    50% {
        transform: scale(1.03, 1.03);
        transform-origin: bottom left
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }
}

@keyframes fb_bounce_out_v2 {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom right
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom right
    }
}

@keyframes fb_bounce_out_from_left {
    0% {
        opacity: 1;
        transform: scale(1, 1);
        transform-origin: bottom left
    }

    100% {
        opacity: 0;
        transform: scale(0, 0);
        transform-origin: bottom left
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: .1;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

@keyframes slideInFromBottomDelay {
    0% {
        opacity: 0;
        transform: translateY(100%)
    }

    97% {
        opacity: 0;
        transform: translateY(100%)
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}